<div class = "about">
    <h1>How do I use Campus Navigator?</h1>
    <p>First start by navigating to <a href= "https://msudenver.edu/studenthub/" target="_blank">https://msudenver.edu/studenthub/</a>, click on class schedules</p>
    <img src = '../../../assets/stuHub.svg'>
    <!-- <div class = "stuHub"></div> -->
    <p>Submit for the upcoming semester  fall 2019/spring 2020 then you will
        be navigated to a page like this </p>
    <!-- <div class = "details"></div> -->
    <img src = '../../../assets/details.svg'>
    <p>Right click -> save as...</p>
    <!-- <div class = "saveHtml"></div> -->
    <img src = '../../../assets/saveHtml.svg'>
    <p>Make sure this is saved as webpage, html only. Now you’re ready to upload this file to our server and after your information has been processed you can then click the view tab to see your routes </p>
</div>
