.about{
    margin: 0 20% 0 20%;
    text-align: center;
}
.about > p {
    margin: 50px 0 50px 0;
}
.saveHtml{
    background-image: url('../../../assets/saveHtml.svg');
}
.details{
    background-image: url('../../../assets/details.svg');
}
.stuHub{
    background-image: url('../../../assets/stuHub.svg');
}
img{
    width: 100%;
}