
.left{
    float:left;
}
.bar>div>p>a{
    padding: 18px;
    user-select: none;
    text-decoration: none;
    color: #EEC8B0;
}
.bar>div>p>a:hover{
    background: linear-gradient(180deg, #C4746C 1.04%, rgba(176, 125, 120, 0.765249) 83.33%, rgba(160, 133, 129, 0.575212) 100%);
    cursor: pointer;
}
.selected{
    background: linear-gradient(180deg, #C4746C 1.04%, rgba(176, 125, 120, 0.765249) 83.33%, rgba(160, 133, 129, 0.575212) 100%);
}

.bar>div>p{
    font-size: 18px;
}
.bar{
    overflow: auto;
}
.right{
    float: right;
}