/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Sansita', sans-serif;
    margin: 0 2.5% 0 2.5%;
    background: #293F4F;
    color: #EEC8B0;
}
.buttons{    
    background: #C4746C;
    border-radius: 10px;
}
a{
    color: #EEC8B0;
}
p {
    
    font-size: 24px;
}
.buttons{
    font-size: 30px;
    padding: 10px 30px 10px 30px;
    color: inherit;
    font-family: inherit;
    border-style: none;
    outline: none;
}
.buttons>img{
    height: 22px;
    width: 22px;
}